{% extends 'base.html' %}

{% block title %} Dodaj ocenę {% endblock %}

{% block content %}
    <h2>Dodaj nowy rodzaj oceny</h2>

    <form method="post" action="{% url 'add_gradetype' %}" class="gradetype-form">
        {% csrf_token %}
        <div class="form-field">
            {{ form.typeName.label_tag }}
            {{ form.typeName }}
        </div>
        <div class="form-field">
            {{ form.weight.label_tag }}
            {{ form.weight }}
        </div>
        <button type="submit">Dodaj</button>
    </form>
{% endblock %}

