{% extends 'base.html' %}

{% block content %}
    <h2 class="display-4">Skrzynka</h2>
    {% if user_mails %}
        <h5>Odebrane</h5>
        <ul>
            {% for mail in user_mails %}
                <li><a href="/view_mail/{{ mail.mailId }}">{{ mail.topic }}</a> - {{ mail.fromId }} ({{ mail.sendDate }})</span></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nikt jeszcze do ciebie nie pisał</p>
    {% endif %}
    {% if sent_mails %}
        <h5>Wysłane</h5>
        <ul>
            {% for mail in sent_mails %}
                <li><a href="/view_mail/{{ mail.mailId }}">{{ mail.topic }}</a> - {{ mail.fromId }} ({{ mail.sendDate }})</span></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Jescze nikt nie otrzymał twoich wiadomości</p>
    {% endif %}
    <a href="/send_mail">Wyślij wiadomość</a>
{% endblock %}

