{% extends 'base.html' %}

{% block title %} Set grades {% endblock %}

{% block content %}
<form method="post" action="{% url 'set_grades' %}">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Ocena</th>
          <th>Za co</th>
          <th>Opis</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
          <tr>
            <td>{{ form.studentId.value }}</td>
            <td>{{ form.gradeValueId }}</td>
            <td>{{ form.typeId }}</td>
            <td>{{ form.description }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <input type="submit" value="Submit">
  </form>
{% endblock %}