{% extends 'base.html' %}

{% block title %} Przedmioty {% endblock %}

{% block content %}
    <h2>Przedmioty</h2>

    <a href="{% url 'add_subject' %}" class="btn btn-success">Dodaj przedmiot</a>
    <table class="table">
        <thead>
            <tr>
                <th>Klasa</th>
                <th>Typ przedmiotu</th>
                <th>Nauczyciel</th>
                <th>Aktywny od</th>
                <th>Aktywny do</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            {% for subject in subjects %}
            <tr>
                <td>{{ subject.classId }}</td>
                <td>{{ subject.subjectType }}</td>
                <td>{{ subject.teacherId }}</td>
                <td>{{ subject.activeFrom }}</td>
                <td>{{ subject.activeTo }}</td>
                <td>
                    <a href="{% url 'edit_subject' subject.subjectId %}" class="btn btn-primary">Edytuj</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
